$fontFamily: 'Hind', sans-serif;
$fontFamily-h: 'Source Sans Pro', sans-serif;
$fontColor: #2c2f3c;
$backgroundColor: #21232e;
$wordsColor: #15a1c8;
$buttonColor: #689a00;
$gradColorTwo: #295dd6;
$gradColorOne: #659510; 
$bodyColor: #fff;
$backgroundImage: url('../img/m-h-day.jpg');
$colors: (header: $fontColor, main: #fff, footer: #fff);