$fontFamily: 'Fresca', sans-serif;
$fontFamily-h: 'Source Sans Pro', sans-serif;
$fontColor: #fff;
$backgroundColor: #3c3f4f;
$wordsColor: #ff4e34;
$buttonColor: #e4ad00;
$gradColorOne: #dea308;
$gradColorTwo: #942f52; 
$bodyColor: #21232e;
$backgroundImage: url('../img/m-h-night.jpg');
$colors: (header: #fff, main: #fff, footer: #fff);